body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.datatable-users .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-users .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-users .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable-users .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content {
    width: 400px;
    height: 350px;
    margin: 100px auto;
    border: 2px solid #3e3d3d63;
    padding: 10px;
    color: red;
}

.ReactModal__Content label {
  width: 45%;
  color: #000;
}

.ReactModal__Content input {
  width: 55%;
  color: #000;
}

.ReactModal__Content_dell {
  width: 500px;
height: 200px;
margin: 10px auto;
padding: 10px;
border: 2px solid #3e3d3d63;
}
